.img-front-page {
    display: table;
    width: 100%;
}

.img-front-page-container {
    display: table-cell;
    vertical-align: middle;
}

.img-center-horizontally {
    display: block;
    margin: 0 auto;
}

.hw-mod div {
	display: inline-block;
	padding: 1em;
}

.hw-mod img {
	border: 1px gray solid;
}
